a2wsgi==1.10.4
adbc_driver_manager==1.0.0
adbc_driver_postgresql==1.0.0
adbc_driver_sqlite==1.0.0
aiohttp==3.9.5
aioquic==1.0.0
altair_saver==0.5.0
anywidget==0.9.12
AppKit==0.2.8
atheris==2.3.0
authlib==1.3.0
beautifulsoup4==4.12.3
bokeh==3.4.1
boto3==1.34.116
botocore==1.34.116
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.0
Carbon==1.1.10
checks==0.2
ConfigParser==7.0.0
contextlib2==21.6.0
curio==1.6
Cython==3.0.10
cytoolz==0.12.3
defcon==0.10.3
defusedxml==0.7.1
diffusers==0.28.0
disco==1.40.4
distributed==2024.5.1
Django==5.0.6
docutils==0.21.2
eval_type_backport==0.2.0
exceptiongroup==1.2.1
fastai==2.7.15
fastparquet==2024.5.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freetype_py==2.4.0
gitdb_speedups==0.1.0
glyphsLib==6.7.1
gunicorn==22.0.0
h2==4.1.0
hf_transfer==0.1.6
HTMLParser==0.0.2
hypothesis==6.103.0
importlib_metadata==7.1.0
InquirerPy==0.3.4
ipykernel==6.29.4
ipython==8.12.3
ipywidgets==8.1.3
isal==1.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.util==15.0.0
JPype1==1.5.0
jsonpointer==2.4
kerchunk==0.2.5
keyring==25.2.1
lxml==5.2.2
lz4==4.3.3
lzmaffi==0.3.0
minijinja==2.0.1
mtrand==0.1
munkres==1.1.4
numexpr==2.10.0
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.3
outcome==1.3.0.post0
pkgutil_resolve_name==1.3.10
plotly==5.22.0
polars==0.20.30
psutil==5.9.8
pyaudio==0.2.14
pycares==4.4.0
pycurl==7.45.3
pygit2==1.15.0
PyInstaller==6.7.0
pyodide==0.0.2
pyOpenSSL==24.1.0
pyperf==2.7.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.7.0
PySide2==5.15.2.1
PySide6==6.7.1
pytest==8.2.1
python_calamine==0.2.0
pywin32==306
pyxlsb==1.0.10
qtpy==2.4.1
Quartz==0.0.1.dev0
railroad==0.5.0
redis==5.0.4
reportlab==4.2.0
requests_kerberos==0.14.0
Res==0.1.7
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.5.0
safetensors==0.4.3
scikit_learn==1.4.1.post1
scipy==1.13.1
selenium==4.21.0
sets==0.3.2
setuptools==70.0.0
setuptools_scm==8.1.0
shiboken2==5.15.2.1
shiboken6==6.7.1
simpleaudio==1.0.4
simplejson==3.19.2
sip==6.8.3
slack_sdk==3.27.2
snowflake==0.8.0
socksio==1.0.0
spaces==0.28.3
speedups==1.4.0
Sphinx==7.3.7
sphinx_gallery==0.16.0
SQLAlchemy==2.0.30
sympy==1.12.1
tensorboardX==2.6.2.2
testbench==0.1.2
tf_keras==2.16.0
thread==2.0.3
threadpoolctl==3.5.0
torch==2.3.0
torch_xla==2.3.0
traitlets==5.14.3
transformers==4.41.1
transformers_js_py==0.18.0
twine==5.1.0
ufoLib2==0.16.0
uharfbuzz==0.39.1
ujson==5.10.0
unicodedata2==15.1.0
uri_template==1.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
vegafusion==1.6.9
watchgod==0.8.2
webcolors==1.13
wmi==1.5.1
wsproto==1.2.0
xarray==2024.5.0
xattr==1.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
yarl==1.9.4
zipp==3.19.0
zopfli==0.2.3
zstandard==0.22.0
